body {
    font-family: 'Lexend', sans-serif;
    background-color: #191919;
    background-image: url(/images/bg-design.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 0px 35px;
    max-width: 1440px;
}
  
.nav {
    background-color: #1C1C1C;
    height: 80px;
    border-radius: 999px;
    border: 1px solid #262626;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 18px;
}

.logo {
    margin-top: 7px;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-links {
    display: flex;
    margin-left: 74px;
}

.nav-link, .signup-btn {
    background-color: transparent;
    border-radius: 99px;
    padding: 14px 24px;
    transition: background-color 0.15s ease
}

.nav-link:hover, .signup-btn:hover {
    background-color: #262626;
}

.button-group {
    display: flex;
    gap: 8px;
    align-items: center;
}

.green-btn {
    background-color: #CAFF33;
    color: #1C1C1C;
    padding: 14px 24px;
    border-radius: 99px;
    font-size: 18px;
}

.header {
    margin-top: 85px;
    gap: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-tag {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    color: white;
    font-weight: 300;
    padding: 12px 24px;
    border-radius: 90px;
    background-color: #262626;
    font-size: 18px;
}

h1 {
    color: white;
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    margin-block-start: 20px;
    margin-block-end: 0;
}

.header-p {
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #E4E4E7;
    margin-block-start: 14px;
    margin-block-end: 0;
    margin-bottom: 50px;
}

.header-image {
    position: relative;
    left: 52px;
}

.green-text {
    color: #CAFF33;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}