body {
    font-family: 'Lexend', sans-serif;
    background-color: #191919;
    background-image: url(/images/bg-design.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto;
    color: white;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 0px 35px;
    max-width: 1440px;
}
  
.nav {
    background-color: #1C1C1C;
    height: 80px;
    border-radius: 999px;
    border: 1px solid #262626;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.logo {
    margin-top: 7px;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 {
    line-height: 1.5;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    margin-block-end: 14px;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.nav-links {
    display: flex;
    margin-left: 74px;
}

.nav-link, .signup-btn {
    background-color: transparent;
    border-radius: 99px;
    padding: 14px 24px;
    transition: background-color 0.15s ease
}

.nav-link:hover, .signup-btn:hover {
    background-color: #262626;
}

.button-group {
    display: flex;
    gap: 8px;
    align-items: center;
}

.green-btn, .green-btn-cta {
    background-color: #CAFF33;
    color: #1C1C1C;
    padding: 14px 24px;
    border-radius: 99px;
    font-size: 18px;
}

.header {
    margin-top: 100px;
    gap: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-tag {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-weight: 300;
    padding: 12px 24px;
    border-radius: 90px;
    background-color: #262626;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    margin-block-start: 15px;
    margin-block-end: 15px;
}

p {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: #E4E4E7;
}

.header-image {
    position: relative;
    left: 52px;
}

.green-text {
    color: #CAFF33;
}

.margin-top-50 {
    margin-top: 50px;
}

.products, .testimonials{
    margin-top: 300px;
    margin-bottom: 300px;
}

.title-container-flex {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1.5fr 1fr;
    align-items: end;
    justify-content: space-between;
}

.toggle-button {
    display: flex;
    font-size: 18px;
    line-height: 1.5;
    background-color: #1C1C1C;
    border: 1px solid #262626;
    border-radius: 99px;
    justify-self: end;
    padding: 14px 14px;
}

.toggle {
    padding: 14px 24px;
    border-radius: 99px;
}

.individuals {
    background-color: #CAFF33;
    color: #1C1C1C;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

.products-content {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.first {
    border-right: 1px solid #262626;
    padding-right: 50px;
}

.second {
    padding-left: 50px;
    padding-right: 50px;
    border-right: 1px solid #262626;
}

.third {
    padding-left: 50px;
}

.products-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.width-910 {
    width: 910px;
}

.testimonials-container {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}

.testimonial {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
}

.testimonial-text {
    padding: 50px 0;
    color: white;
    font-weight: 400;
}

.testimonial-name {
    color: #CAFF33;
    font-size: 18px;
}

.cta-container {
    background-color: #1c1c1c;
    background-image: url(/images/cta.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    border-radius: 20px;
    border: 1px solid #262626;
}

.cta {
    margin-bottom: 150px;
}

.green-btn-cta {
    display: flex;
    justify-self: end;
  }

.title-text-cta {
    width: 80%;
}

footer {
    padding: 25px;
    background-color: #1C1C1C;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}